/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  background-color: #8b0000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: #ffa500;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Loader animation */
.loader {
  width: 60px;
  height: 60px;
  border: 6px solid #fff;
  border-top: 6px solid #ffa500;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

p {
  font-size: 1.2rem;
}
